// ----------------------------------------------------------
//                    DEFINING COLORS
// ----------------------------------------------------------

// border colors
$color-border-light1: #e0e0e0;
$color-border-light2: #eaeaea;

// background colors
$color-bg-light-grey: #f0f0f0;
$color-bg-dark-grey: #d6d6d6;
$color-bg-light-yellow: #fff2cd;
$color-bg-light-yellow-2:#ffde84;
$color-bg-light-green: #d3ffcd;
$color-bg-light-blue: #cde9ff;
$color-bg-light-purple: #fbcdff;
$color-bg-white: #fff;

$color-bg-dark-blue: #006fc4;

// other colors
$color-other-lilac: #4800bd;
$color-other-purple: #7d0096;


// ----------------------------------------------------------
//                    DEFINING FONTS
// ----------------------------------------------------------

$font-mono: 'Consolas', monospace;
// $font-header: 'Imprima', 'Calibri', sans-serif;
$font-header: 'Calibri', sans-serif;
