@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
}

.content-container {
  width: 90dvw;
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80dvh;
}

.content-table {
  display: block;
  white-space: nowrap;
  padding-bottom: 20px;
  border-collapse: collapse;
}
.content-table tr {
  border-bottom: 1px solid #e0e0e0;
}
.content-table tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.content-table tr:nth-child(even) {
  background-color: #fff;
}
.content-table th, .content-table td {
  padding: 4px 8px;
  text-align: left;
}
.content-table th {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Calibri", sans-serif;
}
.content-table td {
  font-family: "Consolas", monospace;
  font-weight: 500;
  font-size: 14px;
}
.content-table .no-class {
  background-color: #f0f0f0;
}
.content-table .api-class {
  background-color: #fff2cd;
}
.content-table .gui-class {
  background-color: #d3ffcd;
}
.content-table .flag-class {
  background-color: #cde9ff;
}
.content-table .db-class {
  background-color: #fbcdff;
}
.content-table .db-class .no-class {
  background-color: #fff;
}
.content-table .db-class #db-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content-table #sticky-column {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
  font-weight: bold;
}
.content-table #sticky-column-admin {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content-table button {
  background-color: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  color: #000;
  font-family: inherit;
}
.content-table button:hover {
  background-color: #fff2cd;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1019607843);
}
.navbar-container .navbar-title {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.navbar-container .navbar-button-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: flex-end;
}
.navbar-container .navbar-button-container .button {
  text-decoration: none;
  background-color: #009669;
  color: #fff;
  padding: 4px 8px;
}
.navbar-container .navbar-button-container .button:hover {
  background-color: #008a60;
  color: #fff;
}
.navbar-container .navbar-button-container .admin {
  text-decoration: none;
  background-color: #bd0000;
  color: #fff;
  padding: 4px 8px;
}
.navbar-container .navbar-button-container .admin:hover {
  background-color: #9e0000;
  color: #fff;
}
.navbar-container .navbar-button-container .role-info {
  padding: 4px 8px;
}

.search_container {
  padding: 12px 0;
}
.search_container #search {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 400px;
  font-family: "Consolas", sans-serif;
}
.search_container .search_button, .search_container .clear_button {
  background-color: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  min-width: 100px;
  border: 1px solid #e9e9e9;
  background-color: #e9e9e9;
  color: #000;
  font-family: inherit;
  font-weight: 600;
}
.search_container .search_button:hover, .search_container .clear_button:hover {
  background-color: #f0f0f0;
}

.button-container {
  margin: 12px 0 40px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-container .button-group {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-container .title {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  margin-bottom: 8px;
  text-align: center;
}
.button-container .button {
  text-decoration: none;
  background-color: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  color: #000;
  font-family: inherit;
}
.button-container .button:hover {
  background-color: #e2e2e2;
}

.release-header {
  background-color: #347736;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.release-container {
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.release-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 1rem;
  background-color: #fff;
}
.release-card .card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 20px;
}
.release-card .card-title .tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}
.release-card .card-title .version-name {
  font-weight: 600;
  font-size: 28px;
  width: 100%;
}
.release-card .card-title .version-date {
  font-size: 12px;
  background-color: #00106b;
  padding: 4px 12px;
  color: #fff;
  border-radius: 4px;
}
.release-card .card-title .version-new {
  font-size: 12px;
  background-color: #ffee00;
  padding: 4px 8px;
  color: #000;
  font-weight: 600;
  border-radius: 4px;
}
.release-card .card-title .version-old {
  font-size: 12px;
  background-color: #6b6b6b;
  padding: 4px 8px;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
}
.release-card .items {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.release-card .items .enhn::before {
  content: "🧩 ";
}
.release-card .items .bug::before {
  content: "🐞 ";
}

#pagination-container #pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}
#pagination-container #page-button {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  min-width: 36px;
  min-height: 36px;
  color: #000;
  font-family: inherit;
  font-weight: 600;
}
#pagination-container #page-button:hover {
  background-color: #f0f0f0;
}
#pagination-container #page-number {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 8px;
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
  font-size: 14px;
}
#pagination-container #page-number:hover {
  background-color: #f0f0f0;
}
#pagination-container #page-number-current {
  background-color: #006fc4;
  border: 1px solid #eaeaea;
  color: #fff;
  padding: 8px;
  min-width: 36px;
  min-height: 36px;
  cursor: not-allowed;
  font-size: 14px;
}

.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 70dvh;
}
.error_container .error_header {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.error_container .error_header .error_code {
  font-size: 64px;
  font-family: inherit;
  letter-spacing: 2px;
}
.error_container .error_header p {
  font-family: inherit;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.error_container .error_content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error_container .error_content p {
  font-family: inherit;
  font-size: 16px;
  margin: 8px;
}
.error_container .error_content .button_container {
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.error_container .error_content .back_button {
  margin: 16px;
  padding: 12px 20px;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 4px;
  box-shadow: 4px 4px 1px 1px inherit;
}
.error_container .error_content .back_button:hover {
  border: 1px solid inherit;
  background-color: inherit;
}
.error_container .error_content .back_button:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px inherit;
}
.error_container .error_content .report {
  background-color: inherit;
  border: 1px solid inherit;
  box-shadow: 4px 4px 1px 1px inherit;
}
.error_container .error_content .report:hover {
  border: 1px solid inherit;
  background-color: inherit;
}
.error_container .error_content .report:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px inherit;
}/*# sourceMappingURL=main.css.map */