{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<section class="search_container">
    <input type="search" name="search" id="search" placeholder="Search Anything ..." class="search_input" required>
    <button type="submit" class="search_button" id="search_button">🔍 SEARCH</button>
    <button type="submit" class="clear_button" id="clear_button">🗑️ CLEAR</button>
</section>
<section class="button-container">
    <button class="button" id="add-button">Add</button>
    <button class="button" id="edit-button">Edit</button>
    <button class="button" id="delete-button">Delete</button>
    <button class="button" id="export-button">Export</button>
</section>
<section class="content-container">
    <table class="content-table">
        <thead>
            <tr>
                <th colspan="1" class="no-class" id="sticky-column"></th>
                <th colspan="7" class="api-class">API INFROMATION</th>
                <th colspan="3" class="flag-class">FLAGS</th>
                <th colspan="7" class="gui-class">GUI INFORMATION</th>
                <th colspan="1" class="db-class"></th>
            </tr>
            <tr>
                <th class="no-class" id="sticky-column">ID</th>

                <th class="api-class">Entity Name</th>
                <th class="api-class">Domain Name</th>
                <th class="api-class">Subdomain Name</th>
                <th class="api-class">Child Domain Name (Lvl-1)</th>
                <th class="api-class">Child Domain name (Lvl-2)</th>
                <th class="api-class">Business Field Name</th>
                <th class="api-class">Type</th>
                
                <th class="flag-class">Read API</th>
                <th class="flag-class">Write API</th>
                <th class="flag-class">Kafka Msg</th>

                <th class="gui-class">Screen Name</th>
                <th class="gui-class">Section Name</th>
                <th class="gui-class">Label Name</th>
                <th class="gui-class">Label Description</th>
                <th class="gui-class">Field State</th>
                <th class="gui-class">Field Type</th>
                <th class="gui-class">Dependent on</th>

                <th class="db-class">DATABASE INFORMATION</th>
            </tr>
        </thead>
        <tbody>
            {% for display_item in display_data_extract %}
            <tr>
                <td class="no-class" id="sticky-column">{{ display_item['guiFieldIdentifier'] }}</td>
                <!-- API Information Fields -->
                <td>{{ display_item['apiInformation']['entityName'] }}</td>
                <td>{{ display_item['apiInformation']['domainName'] }}</td>
                <td>{{ display_item['apiInformation']['subdomainName'] }}</td>
                <td>{{ display_item['apiInformation']['childDomainNameLvl1'] }}</td>
                <td>{{ display_item['apiInformation']['childDomainNameLvl2'] }}</td>
                <td>{{ display_item['apiInformation']['businessFieldName'] }}</td>
                <td>{{ display_item['apiInformation']['type'] }}</td>
                <!-- API Flags Information -->
                <td>{{ display_item['apiExposureFlags']['readAPI'] }}</td>
                <td>{{ display_item['apiExposureFlags']['writeAPI'] }}</td>
                <td>{{ display_item['apiExposureFlags']['kafka'] }}</td>
                <!-- GUI Information Fields -->
                <td>{{ display_item['guiInformation']['screenName'] }}</td>
                <td>{{ display_item['guiInformation']['sectionName'] }}</td>
                <td>{{ display_item['guiInformation']['fieldName'] }}</td>
                <td>{{ display_item['guiInformation']['fieldDescription'] }}</td>
                <td>{{ display_item['guiInformation']['fieldState'] }}</td>
                <td>{{ display_item['guiInformation']['fieldType'] }}</td>
                <td>{{ display_item['guiInformation']['fieldDependencyId'] }}</td>
                <!-- Database Information Fields -->
                <td>
                    <table class="db-table">
                        <thead>
                            <th class="db-class">Table Name</th>
                            <th class="db-class">Column Name</th>
                            <th class="db-class">Column Size</th>
                            <th class="db-class">Datatype</th>
                        </thead>
                        <tbody>
                            {% for db_info in display_item['databaseInformation'] %}
                            <tr>
                                <td>{{ db_info['tableName'] }}</td>
                                <td>{{ db_info['columnName'] }}</td>
                                <td>{{ db_info['columnSize'] }}</td>
                                <td>{{ db_info['dataType'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}