<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFMA | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('bp_gui.static', filename='styleSheets/css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
</head>
<body> 
    <section class="navbar-container">
        <a href="{{ url_for('bp_gui.index') }}" class="navbar-title">Unified Field Mapping Assistant</a>
        <div class="navbar-button-container">
            <div class="role-info"><b>Role:</b> {% block role %}{% endblock %}</div>
            <a class="button" href="{{ url_for('bp_gui.release') }}">Release Notes</a>
            <a class="admin" href="{{ url_for('bp_gui.admin') }}">Admin</a>
        </div>
    </section>
    
    {% block content %}{% endblock %}    

    <script src="{{ url_for('bp_gui.static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('bp_gui.static', filename='javascript/pagination.js') }}"></script>
</body>
</html>