<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFMA | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('bp_gui.static', filename='styleSheets/css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
</head>
<body> 
    <section class="nav-container">
        <a href="{{ url_for('bp_gui.index') }}" class="title">Unified Field Mapping Assistant</a>
        <div class="nav-buttons">
            <div class="admin-button"><b>Current:</b> User Mode</div>
            <a class="release-button" href="{{ url_for('bp_gui.release') }}">Release Notes</a>
        </div>
    </section>
    
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('bp_gui.static', filename='javascript/main.js') }}"></script>
</body>
</html>