{% extends 'layout.html' %}

{% block title %} Release Notes {% endblock %}

{% block content %}


<section class="release-container">
    <div class="release-card">
        <div class="card-title">
            <div class="tags">
                <p class="version-new">LATEST</p>
                <p class="version-date">May 09, 2025</p>
            </div>
            <p class="version-name">Version 1.0.0</p>
        </div>
        <div class="items">
            <span class="enhn">Major update with performance improvements and UI enhancements.</span>
        </div>
    </div>    
    
</section>

{% endblock %}